body {
  background: #141414;
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  font-size: 1vw;
  color: #e5e5e5;
}

h1 {
  font-size: 2.4em;
  color: #fff;
}

a:link {
  text-decoration: none;
}

h2 {
  font-size: 1.8em;
  margin: 1.5em 0em;
}

h3 {
  font-size: 1.2em;
}

#top-nav, .home-page {
  padding-left: 5%;
}

#footer > img {
  height: 3vw;
  padding: 1% 0%;
  margin: 0 auto;
  width: 100%;
}

p {
  line-height: 1.4;
  font-size: 1em;
}

.movies-list-container {
  margin-left: -.3vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

.movies-list-item {
  width: 12vw;
  height: 18vw;
  padding: .3vw;
  position: relative;
}

.movie-poster-img {
  width: 100%;
  position: relative;
  opacity: 1;
}

.movie-poster-img:hover {
  opacity: 0.3;
}

.movie-img-hover {
  transition: .3s ease;
  position: absolute;
  top: 0px;
  width: 96%;
  height: 100%;
  background-color:rgba(20,20,20,0.85);
  opacity: 0;
}

.movie-img-hover:hover {
  opacity: 1;
}

.movie-img-hover-text {
  color: #fff;
  position: absolute;
  bottom: 0%;
  left: 0%;
  padding: 6%;
}

.search-bar {
  margin: 1.5em 0em;
  width: 40%;
}

input[type="text"] {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  background: transparent;
  border-width: 0px 0px 2px;
  border-color: #e5e5e5;
  color: #e5e5e5;
  font-size: 1.5em;
  padding: 10px 0px;
}

input[type="text"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #e5e5e5;
}

input[type="text"]:focus {
  font-family: 'Roboto', sans-serif;
  outline: none;
}

.backdrop-img {
  width: 100%;
}

.movie-page-container {
  position: relative;
  height: 40vw;
}

.movie-page-background-vignette {
  position: absolute;
  top: 0px;
  left: 30%;
  width: 30%;
  background-image: linear-gradient(to right,#141414,transparent);
  width: 275px;
  height: 100%;
}

.movie-page-background-img {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 70%;
}

.movie-page-content {
  padding-left: 5%;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 30%;
}

.movie-page-content > p {
  color: #bbb;
  font-size: 1.2em;
}

.movie-page-content > p > span {
  color: #fff;
}

.movie-page-recommendations {
  padding-left: 5%;
}
